<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Down</title>
    <style>
        .image{
           width: 500px;

        }
    </style>
</head>



<body>
<center><h1>Seems Like the database is currently offline , please try again later</h1></center>
<center><img class="image" src="https://i.kinja-img.com/gawker-media/image/upload/c_fit,f_auto,g_center,q_60,w_1315/77275af33e4165c1f07a612184d16b55.jpg" ></center>
</body>

</body>
</html>